{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Challenge</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">
        <strong>1806173544</strong>
    </h1>
    {% csrf_token %}
</div>
{% endblock %}